@import url('https://fonts.googleapis.com/css?family=Athiti:600|Cabin:500|Josefin+Sans:600|Lobster|Molle:400i|Pacifico');

.playbox {
    font-family: 'Cabin';
    color: white;
    font-size: 16px;

}

.playbox-border {
    width: 45%;
    height: 25%;
    margin-right: auto;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.9);
    border: 3px outset white;
    padding-top: 0px;
    vertical-align: middle;
    border-radius: 10px;
    overflow: hidden;

    /* -moz-box-shadow: 4px 4px 4px 4px white;
	-webkit-box-shadow: 4px 4px 4px 4px white;
	box-shadow: 4px 4px 4px 4px white; */
}

.nowplaying {
    padding: 25px;
    padding-right: 0px;
    padding-left: 25px;
    height: 20%;
    width: 20%;
    float: left;

}

.song-details {
    text-align:left;
    overflow: hidden;
    line-height: 20px;
    height: 160px;
    padding-top: 60px;
    padding-left: 25px;
}

#sImage{
  max-width: 100%;
  min-width: 100%;
}
